<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Flip Your Whip - Login/Register</title>
</head>
<body>
    <!-- container -->
    <div class="container">
        <!-- body -->
        <div>
            <header class="header">
                <h2 class="margin-left5 font">Flip Your Whip</h2>                
            </header>
        </div>
        <div class="d-flex justify-content-around">
            <!-- login -->
            <div class="row m-5">
                <form action="/login" method = "post">
                    <h1>Login</h1>
                    <div>
                        <label for="email">Email:</label>
                        <input type="text" name="login_email" id="login_user_email" class="form-control"><br>
                        {% for message in get_flashed_messages(category_filter=["err_users_login_user_email"]) %}
                        <p>{{message}}</p>
                        {% endfor %}
                    </div>
                    <div>
                        <label for="password">Password</label>
                        <input type="password" name="log_password" id="log_password" class="form-control"><br>
                        {% for message in get_flashed_messages(category_filter=["err_users_log_password"]) %}
                        <p>{{message}}</p>
                        {% endfor %}
                    </div>
                    <button type="submit">Submit</button><br>
                </form>
            </div>
            <!-- register -->
            <div class="row m-5">
                <h2>Register</h2>
                <form action="/create" method = "post" class="form-group">
                    <div>
                        <label for="first_name">First Name:</label>
                        <input type="text" name="first_name" id="first_name" class="form-control"><br>
                        {% for message in get_flashed_messages(category_filter=["err_users_first_name"]) %}
                        <p>{{message}}</p>
                        {% endfor %}
                    </div>
                    <div>
                        <label for="last_name">Last Name:</label>
                        <input type="text" name="last_name" id="last_name" class="form-control"><br>
                        {% for message in get_flashed_messages(category_filter=["err_users_last_name"]) %}
                        <p>{{message}}</p>
                        {% endfor %}
                    </div>
                    <label for="email">Email:</label>
                    <input type="text" name="email" id="email" class="form-control"><br>
                    {% for message in get_flashed_messages(category_filter=["err_users_email"]) %}
                    <p>{{message}}</p>
                    {% endfor %}
                    <div>
                        <label for="password">Password:</label>
                        <input type="password" name="password" id="password" class="form-control"><br>
                        {% for message in get_flashed_messages(category_filter=["err_users_password"]) %}
                        <p>{{message}}</p>
                        {% endfor %}
                    </div>
                    <div>
                        <label for="confirm_password">Confirm Password:</label>
                        <input type="password" name="password1" id="password1" class="form-control"><br>
                        {% for message in get_flashed_messages(category_filter=["err_users_password1"]) %}
                        <p>{{message}}</p>
                        {% endfor %}
                    </div>
                    <button type="submit" class="btn btn-success">Register</button>
                </form>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>