.header{
    background-color: #256dfd;
    color: #ffffff;
}

.margin-left5{
    margin-left: 5%;
}

.margin-right5{
    margin-right: 5%;
}

.img{
    max-width: 200px;
    max-height: 200px;
}

.font{
    font: icon;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: xx-large;
}